*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.keystore
*.jks

# Log files
*.log

*.tmp
*.bak

.navigation/

proguard/

.externalNativeBuild/

obj/

.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/vcs.xml
